@model ProductListViewModel
@{
    ViewData["Title"] = "Home Page";
    var count = 0;
    var active = string.Empty;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row">
        @foreach (var product in Model.Products)
        {
            if (count != 0 && count % 4 ==0)
            {
                @:</div>
                @:<div class="row m-2 p-2">

            }
            <div class="col-3">
               <partial name="_ProductCard" model="product" />
            </div>

            count++;
        }

    </div>

    <!-- bootstrap pagination ekle -->

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">           
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
              <li class="page-item @(Model.CurrentPage==i ? "active": string.Empty) "><a class="page-link" asp-controller="Home" asp-action="Index" asp-route-pageNo="@i" asp-route-category="@(Model.CurrentCategory.HasValue ? Model.CurrentCategory.Value : null)">@i</a></li>
            }        
         </ul>
    </nav>


</div>